@charset "utf-8";

html {
  overflow-y: scroll;
}

AK_hdg {
	background-color: #CCC;
}

#AK-brand {
  font-size: 35px;
  font-family: Orbitron !important;
  /*
  vertical-align: middle !important;
  line-height: 30px;
  */
}

.social-link {
  color: #ff7028;
  font-size: 50px !important;
	padding-bottom: 15px;
	padding-right: 5px;
}
.social-link:hover {
  color: #ff9966;
}

.navbar-nav {
	font-family: Roboto Condensed !important;
	font-size: 17px;
	font-weight: normal !important;
}

footer {
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
}
