@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Josefin+Sans|Libre+Barcode+39+Extended+Text|Open+Sans');

html {
  overflow-y: scroll;
}

AK_hdg {
	background-color: #CCC;
}

#AK-brand {
  font-size: 35px;
  font-family: Open Sans !important;
  font-weight: normal;
  /*
  vertical-align: middle !important;
  line-height: 30px;
  */
}

.social-link {
  color: #ff7028;
  font-size: 50px !important;
	padding-bottom: 15px;
	padding-right: 5px;
}
.social-link:hover {
  color: #ff9966;
}

.navbar-nav {
	font-family: Open Sans !important;
	font-size: 17px;
	font-weight: normal !important;
}

p, a, h1, h2, h3 {
  font-family: Open Sans !important;
}

.jumbotron {
  height: 330px;
  color: white;
  text-shadow: #444 1px 1px 1px;
  background:transparent;
}

.bg {
  position: fixed;
  width: 100%;
  height: 330px;
  top:50px;
  left:0px;
  z-index: -1;
}

#bg-1 {
  background: url('images/FIGHTER.JPG') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
}
