@charset "utf-8";
AK_hdg {
	background-color: #CCC;
}

#AK-brand {
  font-family: Orbitron !important;
  font-weight: bold;
  font-size: 35px;
}

.social-link {
  color: #ff7028;
  font-size: 50px !important;
	padding-bottom: 15px;
	padding-right: 5px;
}
.social-link:hover {
  color: #ff9966;
}

.navbar-nav {
	font-family: Roboto Condensed !important;
	font-size: 17px;
}

footer {
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
}
